<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/js/bower_components/bootstrap/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
    <script th:src="@{/js/script.js}"></script>
</head>

<span th:fragment="script_include">
    <script th:src="@{/js/bower_components/jquery/dist/jquery.js}"></script>
    <script th:src="@{/js/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
</span>
<footer th:fragment="footer">
    &copy; this tempmlate
</footer>
</html>