<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="form-group col-md-3"><label for="block10">Block</label><input id="block10"  type="text" class="form-control block" placeholder="Enter Name" style="width:auto"/></div><div class"form-group col-md-4"><label for="floor10">No of floors</label><input id="floorstart10"  type="text" class="form-control floor" placeholder="Start (Ex : A or 1)" style="width:auto"/><input id="floorend10"  type="text"  class="form-control flatend" placeholder="End (Ex : Z or 100)" style="width:auto"/></div><div class"form-group col-md-4"><label for="flats10">No/Name of flats</label><input id="flatstart10"  type="text"  class="form-control flatstart" placeholder="Start (Ex : A or 1)" style="width:auto"/><input id="flatend10"  type="text"  class="form-control flatend" placeholder="End (Ex : Z or 100)" style="width:auto"/></div><a href="#" class="remove_field col-md-1"> X </a></div></div>
</body>
</html>